node_modules

# Output
.output
.vercel
.netlify
.wrangler
.deno-deploy
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
 
# Tools
/.vscode

# Marked temp
*.temp